<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elmish" version="3.0.3" targetFramework="net461" />
  <package id="Elmish.WPF" version="3.5.2" targetFramework="net461" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net461" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.6" targetFramework="net461" />
</packages>